.footer {
  position: absolute;
  display: block;
  width: 98%;
  bottom: 0;
  padding: 20px 0;
  text-align: center;

  .footer__span {
    font-family: "Onest", system-ui, sans-serif;
    font-weight: 500;
  }
}
